<div style="overflow-x: hidden;">
    <div class="preferences">
        <div class="preference" id="meat">
            <div data-aos="fade-right" class="img_div">
                <img src="../../assets/images/meat.jpg" alt="">
            </div>
            <div class="question_form" >
                <div class="question">
                    <label id="example-radio-group-label">Do you eat meat?</label>
                    <div>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="optionMeat">
                            
                            <mat-radio-button class="example-radio-button" (click)="onClick('fish')"  *ngFor="let option of options"
                                [value]="option">
                                {{option}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
        <div class="preference" id="fish">
            <div class="question_form">
                <div class="question">
                    <label id="example-radio-group-label">Do you eat fish?</label>
                    <div>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="optionFish">
                            <mat-radio-button class="example-radio-button" (click)="onClick('dairy')"  *ngFor="let option of options"
                            [value]="option">{{option}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" class="img_div">
                <img src="../../assets/images/fish.jpeg" alt="">
            </div>
        </div>
        <div class="preference" id="dairy">
            <div data-aos="fade-right" class="img_div">
                <img src="../../assets/images/dairy-products.jpg" alt="">
            </div>

            <div class="question_form">
                <div class="question">
                    <label id="example-radio-group-label">Do you eat dairy products?</label>
                    <div>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="optionDairyProduct">
                            <mat-radio-button class="example-radio-button" (click)="onClick('sugar')"  *ngFor="let option of options"
                            [value]="option">{{option}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
        <div class="preference" id="sugar">
            <div class="question_form">
                <div class="question">
                    <label id="example-radio-group-label">Do you eat sugar?</label>
                    <div>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="optionSugar">
                            <mat-radio-button class="example-radio-button" (click)="onClick('gluten')"  *ngFor="let option of options"
                            [value]="option">{{option}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
            <div data-aos="fade-left" class="img_div">
                <img src="../../assets/images/sugar.jpg" alt="">
            </div>
        </div>

        <div class="preference" id="gluten">
            <div data-aos="fade-right" class="img_div">
                <img src="../../assets/images/gluten-free.jpg" alt="">
            </div>
            <div class="question_form">
                <div class="question">
                    <label id="example-radio-group-label">Do you eat dishes with gluten?</label>
                    <div>
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            [(ngModel)]="optionGluten">
                            <mat-radio-button class="example-radio-button" (click)="onClick('sign-up')"  *ngFor="let option of options"
                            [value]="option">{{option}}</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sign-up" id="sign-up">
        <button *ngIf="logged"  class="btn button_sign-up" [disabled]="true">
                Sign up
        </button>
        <a *ngIf="!logged" [routerLink]="[ '/sign-up']" class="btn button_sign-up" (click)="addPreference()">Sign up</a> 
    </div>

</div>

