<div class="signUp">
  <form class="signUp__form">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName"> {{'signUp.form.firstName' | translate}}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="firstName"
          name="firstName"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">{{'signUp.form.lastName' | translate}}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="lastName"
          name="lastName"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">{{'signUp.form.email' | translate}}</label>
        <input
          type="email"
          class="form-control"
          [(ngModel)]="email"
          name="email"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">{{'signUp.form.password' | translate}}</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="city">{{'signUp.form.phone' | translate}}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="phone"
          name="phone"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="address">{{'signUp.form.address' | translate}}</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="address"
          name="address"
        />
      </div>
    </div>
    <!-- <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-5 pt-0">Do you eat meat?</legend>

                <input type="radio" (click)="Meat(options[0].name)" class="col-1" [checked]='meat' name="optionMeat"
                    value="options[0].name">Yes<br>
                <input type="radio" (click)="Meat(options[1].name)" class="col-1" [checked]='!meat' name="optionMeat"
                    value="options[1].name">No <br>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-5 pt-0">Do you eat fish?</legend>
                <input type="radio" (click)="Fish(options[0].name)" class="col-1" [checked]='fish' name="optionFish"
                    value="options[0].name">Yes<br>
                <input type="radio" (click)="Fish(options[1].name)" class="col-1" [checked]='!fish' name="optionFish"
                    value="options[1].name">No <br>

            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-5 pt-0">Do you eat dairy products?</legend>
                <input type="radio" (click)="DairyProducts(options[0].name)" class="col-1" [checked]='dairyProducts'
                    name="optionDairyProducts" value="options[0].name">Yes<br>
                <input type="radio" (click)="DairyProducts(options[1].name)" class="col-1" [checked]='!dairyProducts'
                    name="optionDairyProducts" value="options[1].name">No <br>

            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-5 pt-0">Do you eat sugar?</legend>
                <input type="radio" (click)="Sugar(options[0].name)" class="col-1" [checked]='sugar' name="optionSugar"
                    value="options[0].name">Yes<br>
                <input type="radio" (click)="Sugar(options[1].name)" class="col-1" [checked]='!sugar' name="optionSugar"
                    value="options[1].name">No <br>


            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-5 pt-0">Do you eat dishes with gluten?</legend>
                <input type="radio" (click)="Gluten(options[0].name)" class="col-1" [checked]='gluten'
                    name="optionGluten" value="options[0].name">Yes<br>
                <input type="radio" (click)="Gluten(options[1].name)" class="col-1" [checked]='!gluten'
                    name="optionGluten" value="options[1].name">No <br>


            </div>
        </fieldset> -->

    <div class="signUp__form__buttons">
        <a class="signUp__form__buttons__logInButton" [routerLink]="['/log-in']"
        >{{'signUp.form.routing.title' | translate}}
        <span>{{'signUp.form.routing.logIn' | translate}}</span>
      </a>
      <a
        (click)="signUp()"
        class="btn signUp__form__buttons__signUpButton"
        [routerLink]="['/log-in']"
        >{{'signUp.form.signUpBtn' | translate}}</a
      >
    </div>
  </form>
</div>
