@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Comfortaa-Medium"; 
    // адрес шрифта и тип 
    src: url("../assets/fonts/Comfortaa/static/Comfortaa-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    }

// p, a {
//     font-family: "Comfortaa-Medium";
// }